@keyframes rotation {  
    from {  
      transform: rotate(0deg);  
    }  
    to {  
      transform: rotate(360deg);  
    }  
  }  
    
  .rotate {  
    animation: rotation 5s infinite linear;  
  }  
    
  #music_button {      
      border: none;      
      border-radius: 50%;     
      width: 65px;      
      height: 65px;      
      background-color: #979797;     
      color: white;      
      text-align: center;      
      display: flex;      
      justify-content: center;      
      align-items: center;      
      font-size: 16px;      
      position: fixed;  
      top: 65px;    
      right: 3%;      
      transition: transform 0.5s;     
  }

@media screen and (max-width: 600px){
    #music_button {      
        border: none;      
        border-radius: 50%;     
        width: 65px;      
        height: 65px;      
        background-color: #979797;     
        color: white;      
        text-align: center;      
        display: flex;      
        justify-content: center;      
        align-items: center;      
        font-size: 16px;      
        position: fixed;
        top: 85%;
        right: 3%;      
        transition: transform 0.5s;     
    } 
}